body {
    font-family: Arial, sans-serif;
    background-image: url('image_0.jpg');
    overflow: hidden;
}

.draggable {
    border: 1px solid #ccc;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 25px;
    resize: none;
    user-select: none;
}

.header {
    background-color: #333;
    padding: 10px;
    color: white;
    cursor: move;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    gap: 5px;  /* Add spacing between buttons */
}

.content {
    padding: 10px;
}

.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 25px;
    aspect-ratio: 1;
    width: 50px;  /* Set fixed width */
    height: 50px; /* Set fixed height */
    margin: 5px;  /* Add spacing between buttons */
    position: relative;
    transform: scale(1);
    transition: transform 0.2s;
}

.button.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background-color: #007AFF;
    border-radius: 1px;
}

.WindowButton {
    background-color: red;
    border: none;
    padding-left: 6px;
    padding-top: 2px;
    cursor: pointer; /* Makes the button clickable */
    aspect-ratio: 1;
    border-radius: 50%;
    width: 10px;

}

.WindowButton.resize {
    background-color: #4CAF50;
    margin-right: 5px;
}

.WindowButton.minimize {
    background-color: #e0ca04;
    margin-right: 5px;
}

#container {
    overflow: hidden;
}

.button:hover {
    transform: scale(1.2);
}

.dock {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 10px;
    display: flex;
    gap: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 2147483647; /* Maximum z-index value */
}

.dock.hidden {
    display: none;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    padding: 0px;
}